@import 'imports';

#page{
	padding: 0 1rem !important;
}

.node-type-program{
	#content[role="main"]{
		@include tablet {
			@include zen-grid-item(7, 1);
		}
		
		@include desktop {
			@include zen-grid-item( 9,1 );
		}

		padding-bottom:1rem; 
		// border:1px solid black;
	}

	.region-sidebar-first{
		@include tablet {
			@include zen-grid-item( 4,9 );
		}

		@include desktop {
			@include zen-grid-item( 3,10 );
		}
	}

	.region-sidebar-second{
		@include tablet {
			@include zen-grid-item(7, 1);
		}
		@include desktop {
			@include zen-grid-item( 9,1 );
		}
		margin-bottom: 4rem;
	}
}