@import "zen";
#footer{
	background:#004F27;
	.block{
		@include zen-grid-flow-item( 4 );
		float:left;
		margin:0px
	}
}

// .submitted{
// 	display:none;
// }

// #footer{
// 	
// }

#header{
	background:url('../images/hero.jpg');
	background-size:cover;
	color:white;
	padding:2rem 0rem 10rem;
	text-shadow: 2px 2px rgba(0,0,0,.5);
	a{
		text-decoration:none;
		color:white;
	}

	h1:not(.header__site-name){
		font-size:3rem;

	}
}
#logo, #site-name{
	display:none;
}

// // .region-sidebar-first{
// // 	width:30% !important;

// // 	background:red;
// // }

.node-type-program{
	#content[role="main"]{
	@include zen-grid-item(8, 4);
	padding-bottom:1rem; 
	// border:1px solid black;
	}

	.sidebar{
		@include zen-grid-item( 4,1 );
	}
}

.page-node{
	#content[role="main"]{
		padding-bottom:3rem; 
	}

}
footer{
	padding:3rem 0;
	color:white;
	h2, p{
		font-weight:100 !important;
	}
	a{
		color:rgb(255, 255, 105);
		font-weight: 100;
	}
}
input[type="submit"]{
	background: rgb(5, 147, 75);
	border: 0px;
	color: white;
	padding: 1rem 2rem;
}

