/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

#footer{

	.block{
		width:30%;
		float:left;
	}
}

.submitted{
	display:none;
}

#footer{
	background:#004F27;
}

#header{
	background:url('../images/hero.jpg');
	background-size:cover;
	color:white;
	padding:2rem 0rem 10rem;
	text-shadow: 2px 2px rgba(0,0,0,.5);
	a{
		text-decoration:none;
		color:white;
	}

	h1:not(.header__site-name){
		font-size:3rem;

	}
}
#logo, #site-name{
	display:none;
}