@import 'imports';

.field-type-tablefield{
	background: rgba(0,0,0,.025);
   @include tablet { 
   		padding: 2rem;
   }

    .field-label{
    	@extend h3 !optional;
    	font-size: 3rem;
		text-align: center;
		padding-bottom: 2rem;
		/* text-transform: uppercase; */
		padding-top: 1.5rem;
    }

    table{
    	width:100%;
    }
    .table-wrapper{
    	margin-bottom: 0px;
    }
    tr:last-child{
    	border-bottom:0px; 
    }
}