@import 'modular-scale/_modular-scale';

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


body{
	font-size: 12px;
	font-family: "open sans";
	@include tablet{
		font-size: 14px;
	}
}

h1,h2,h3,h4,h5,h6{
			text-transform: capitalize;
			margin-top: 1.5rem;
		}
h2,h3, .nixie{
	font-family: 'Nixie One', cursive;
}
h4,h5, .georgia{
	font-family: "georgia";
}
		h1{
			
			font-size:3.375em;
			font-family: 'open sans';
			text-transform: capitalize;
			margin-bottom: 1.5rem;
			line-height: 2.75rem !important;
			@include tablet {
				font-size:5.063em;
				line-height: 1em !important;
			}

		}
		h2{
			font-size:5.063em;
		}
		h3{
			font-size:3.375em;
			letter-spacing: .1rem;
		}
		h4{
			font-size:2.25em;
			font-family: georgia;
  			color: rgba(0,0,0,.8);
		}
		h5{
			font-size:1.5em;
			font-family: georgia;
 			color: rgba(0,0,0,.8);
		}
		p{
			margin-top:1rem;
			font-family: 'Open sans' !important;
			line-height: 1.5rem;
			max-width: 50rem;
		}

a{font-family:'open sans'}

footer{
	h2{font-size:1.5rem}
}

#content[role="main"] h2.block__title{
	font-size: 2.25rem;
}

.region-sidebar-first{
	h2{
		font-size: 1.5rem;
	}
}

.field-label{
	font-family:'open sans';
}

#block-crumbs-breadcrumb{
	display:none;
}
.node-type-program{
	h1{
		margin-top:-1rem !important;
		line-height: 5rem;
	}
}

.page-taxonomy-term h2{
	font-size: 2rem;
	line-height: 2.5rem;
	margin-top: 2.5rem;
	a{
		color: black;
		text-decoration: none;
		&:hover{
			color:rgba(0,0,0,.7);
		}
	}
}