/* line 3, ../sass/grid.scss */
#page {
  padding: 0 1rem !important;
}

/* line 8, ../sass/grid.scss */
.node-type-program #content[role="main"] {
  padding-bottom: 1rem;
}
@media (min-width: 480px) {
  /* line 8, ../sass/grid.scss */
  .node-type-program #content[role="main"] {
    float: left;
    width: 700%;
    margin-left: 0%;
    margin-right: -700%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media (min-width: 1024px) {
  /* line 8, ../sass/grid.scss */
  .node-type-program #content[role="main"] {
    float: left;
    width: 900%;
    margin-left: 0%;
    margin-right: -900%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media (min-width: 480px) {
  /* line 21, ../sass/grid.scss */
  .node-type-program .region-sidebar-first {
    float: left;
    width: 400%;
    margin-left: 800%;
    margin-right: -1200%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media (min-width: 1024px) {
  /* line 21, ../sass/grid.scss */
  .node-type-program .region-sidebar-first {
    float: left;
    width: 300%;
    margin-left: 900%;
    margin-right: -1200%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/* line 31, ../sass/grid.scss */
.node-type-program .region-sidebar-second {
  margin-bottom: 4rem;
}
@media (min-width: 480px) {
  /* line 31, ../sass/grid.scss */
  .node-type-program .region-sidebar-second {
    float: left;
    width: 700%;
    margin-left: 0%;
    margin-right: -700%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media (min-width: 1024px) {
  /* line 31, ../sass/grid.scss */
  .node-type-program .region-sidebar-second {
    float: left;
    width: 900%;
    margin-left: 0%;
    margin-right: -900%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
