/* line 2, ../sass/primary-theme.scss */
#footer {
  background: #004F27;
}
/* line 4, ../sass/primary-theme.scss */
#footer .block {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 400%;
  padding-left: 0;
  padding-right: -60px;
  margin-right: 80px;
  float: left;
  margin: 0px;
}

/* line 19, ../sass/primary-theme.scss */
#header {
  background: url("../images/hero.jpg");
  background-size: cover;
  color: white;
  padding: 2rem 0rem 10rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
/* line 25, ../sass/primary-theme.scss */
#header a {
  text-decoration: none;
  color: white;
}
/* line 30, ../sass/primary-theme.scss */
#header h1:not(.header__site-name) {
  font-size: 3rem;
}

/* line 35, ../sass/primary-theme.scss */
#logo, #site-name {
  display: none;
}

/* line 46, ../sass/primary-theme.scss */
.node-type-program #content[role="main"] {
  float: left;
  width: 800%;
  margin-left: 300%;
  margin-right: -1100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-bottom: 1rem;
}
/* line 52, ../sass/primary-theme.scss */
.node-type-program .sidebar {
  float: left;
  width: 400%;
  margin-left: 0%;
  margin-right: -400%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 58, ../sass/primary-theme.scss */
.page-node #content[role="main"] {
  padding-bottom: 3rem;
}

/* line 63, ../sass/primary-theme.scss */
footer {
  padding: 3rem 0;
  color: white;
}
/* line 66, ../sass/primary-theme.scss */
footer h2, footer p {
  font-weight: 100 !important;
}
/* line 69, ../sass/primary-theme.scss */
footer a {
  color: #ffff69;
  font-weight: 100;
}

/* line 74, ../sass/primary-theme.scss */
input[type="submit"] {
  background: #05934b;
  border: 0px;
  color: white;
  padding: 1rem 2rem;
}
